<div class="moduleCard">

  <div class="header">
    <h3>{{ module.name }}</h3>
  </div>
  
  <div class="imageContainer">
    <img src="../../assets/images/math_course.jpg">
  </div>

  <div class="footer">

    <mat-icon 
      [matMenuTriggerFor]="menu" 
      class="dropdownIcon" 
      [class.rotate]="isMenuOpen" 
      (menuOpened)="toggleMenu()" 
      (menuClosed)="toggleMenu()">
      arrow_drop_down
    </mat-icon>

    <mat-menu #menu="matMenu" class="dropdownMenu">

      <ng-template matMenuContent>

        <button mat-menu-item class="details">Details</button>
        <button mat-menu-item class="add" *ngIf="modService.isCurrentlyAdded(module)" (click)="addModule(module)">Hinzufügen</button> 

      </ng-template>

    </mat-menu>
      
  </div>
    
</div>
