<div class="courseContainer">
  <app-module-card [module]="{ name: 'Mathe I' }"></app-module-card>
  <app-module-card [module]="{ name: 'Mathe II' }"></app-module-card>
  <app-module-card [module]="{ name: 'Mathe III' }"></app-module-card>
  <app-module-card [module]="{ name: 'Einführung Informatik' }"></app-module-card>
  <app-module-card [module]="{ name: 'Algorithmen & Datenstrukturen' }"></app-module-card>
  <app-module-card [module]="{ name: 'Technische Informatik I' }"></app-module-card>
  <app-module-card [module]="{ name: 'Datenbanken I' }"></app-module-card>
  <app-module-card [module]="{ name: 'Computernetze' }"></app-module-card>
  <app-module-card [module]="{ name: 'Theoretische Informatik' }"></app-module-card>
  <app-module-card [module]="{ name: 'Logik' }"></app-module-card>
</div>

<div class="userCourses">

  <div class="headline">
    <h1>Meine Module:</h1>
  </div>

  <div class="moduleList" >
    <div class="module"*ngFor="let module of modService.moduleList">
      <app-module-card class="mod" [module]="{ name: module.name }"></app-module-card>
    </div>
    
  </div>
  
</div>