:host {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  gap: 0.5rem;
  background-color: var(--darkmode-background);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
}

.courseContainer {
  height: 75%;
  width: 100%;
  background-color: var(--container-contrast-color);
  border: 1px solid white;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1.5rem;
  padding: 1rem 2rem 1rem 2rem;
  overflow-x: auto;
  overflow-y: hidden;
}

.userCourses {
  display: flex;
  flex-flow: column;
  height: 20%;
  width: 100%;
  background-color: var(--container-contrast-color);
  border: 1px solid white;

  .headline {
    width: 100%;
    height: 15%;
    border-bottom: 1px solid white;
    h1 {
      display: flex;
      align-items: center;
      height: 100%;
      padding-left: 1rem;
      color: white;
      font-size: 2vh;
    }
  }

  .moduleList {
    height: 85%;
    width: 100%;
    display: flex;
    flex-flow: row;
    gap: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0.5rem;

    .module {

    }
  }

}