<div class="courseContainer">
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title class="fontColor">Mathe für Informatiker I</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/images/math_course.jpg">
    <mat-card-content>
      <p class="fontColor">
        Kernfach im 1. Semester.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="addButton">Hinzufügen</button>
    </mat-card-actions>
  </mat-card>  
</div>