:host {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  gap: 0.5rem;
  background-color: var(--darkmode-background);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
}

.courseContainer {
  height: 60%;
  width: 100%;
  background-color: var(--container-contrast-color);
  border: 1px solid white;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  padding: 1rem 4rem 1rem 4rem;
}