<h1 class="title">Hier kannst du deine Module auswählen.</h1>

<div class="filterField">
  <mat-form-field appearance="fill">
    <mat-label>Filtern</mat-label>
    <input matInput placeholder="Gib hier etwas ein..." [(ngModel)]="filterQuery">
    <button mat-icon-button matSuffix (click)="filter()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</div>

<div class="courseContainer">
  <!-- Module einlesen hier-->
   <app-module-card  *ngFor="let mod of os.filteredModules" [module]="{name: mod.name, semester: mod.semester, moduleId: mod.moduleId}"></app-module-card>
</div>

<div class="userCourses">

  <div class="headline">
    <h1>Meine Module:</h1>
  </div>

  <div class="moduleList" >
    
    <div class="module" *ngFor="let mod of os.addedModules">
      <app-added-module class="mod" [module]="{name: mod.name, semester: mod.semester, moduleId: mod.moduleId}"></app-added-module>
    </div>
    
  </div>
  
</div>