<div class="sidebarNavigator">

  <div class="sidebarItemContainer">  

    <button mat-raised-button class="sidebarButtons" routerLink="../accountsettings">
      Kontoeinstellungen                                                        
    </button>

  </div>

  <div class="sidebarItemContainer">  

    <button mat-raised-button class="sidebarButtons" routerLink='../emailsettings'>
      Email-Einstellungen                                                        
    </button>

  </div>

  <div class="sidebarItemContainer">  

    <button mat-raised-button class="sidebarButtons" routerLink="../passwortsettings">
      Passwort                                                        
    </button>

  </div>
  
</div>