:host {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 0.5rem;
}

form {
    display: flex;
    flex-flow: column;
    width: 16rem;
    padding-top: 1.25rem;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
    border: 0.1rem gray solid;
    border-radius: 0.25rem;
    box-shadow: 2px 2px 2px darkgray;
}

.actionContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
}

.loginLink {
    font-size: 16px;
}