.window {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 16rem;
  width: 20rem;
  border: 0.15rem (var(--primary)) solid;
  border-radius: 0.25rem;
  box-shadow: 3px 3px 2px darkgray;
}

.fontColor {
  color: white;
}

.opacity {
  opacity: 0.7;
}

.confirmButton {
  background-color: var(--edit-and-confirm-buttons);
}