<div>
    <mat-label class="loginLabel">
        Anmelden
    </mat-label>
</div>

<form [formGroup]="loginForm">
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input    
            matInput
            type="email"
            formControlName="loginName"
            placeholder="exmatrikulator@gmail.com"
            required>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Passwort</mat-label>
        <input
            matInput
            type="password"
            formControlName="password"
            placeholder="Passwort..."
            required>
    </mat-form-field>

    <mat-form-field *ngIf="showCaptcha" class="captcha-field">
        <mat-label>{{ captchaQuestion }}</mat-label>
        <input
            matInput
            type="number"
            formControlName="captcha"
            placeholder="Antwort eingeben"
            required>
    </mat-form-field>
</form>

<div *ngIf="errorMessage" class="error-message" style="color: red; margin: 10px 0; text-align: center;">
  {{ errorMessage }}
</div>

<div class="actionContainer">
    <a 
        class="registerLink" 
        routerLink="../register">
            Kein Account?
    </a>
    <button
        mat-raised-button
        (click)="loginClick()"
        disabled="{{!loginForm.valid.valueOf()}}">
            Anmelden
        </button>
</div>