:host {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 0.5rem;
    background-color: var(--darkmode-background);
}

.registerLabel {
    display: flex;
    color: var(--primary);
    font-size: 28px;
    text-align: left;
    width: 28rem;
    margin-left: 0.5rem;
    
}

form {
    display: flex;
    flex-flow: column;
    width: 28rem;

}

.actionContainer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-100%);
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
    width: 30rem;
    max-height: 28rem;
    padding-top: 1.25rem;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
    border: 0.25rem (var(--primary)) solid;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 2px darkgray;
    background-color: gray;

    .loginLink {
        font-size: 16px;
    }

    b {
        color: var(--primary);
        transition: color 0.2s ease-out;

        &:hover {
            color: var(--primary-hover);
        }
    }

    button {
        background-color: var(--primary);
        color: var(--darkmode-background);
        transition: background-color 0.2s ease-out;
        

        &:disabled {
            background-color: dimgray;
        }

        &:hover {
            background-color: var(--primary-hover);
        }
    }
}


.messages-container mat-card-content {
   
    max-height: 300px; /* fixed height */
    overflow-y: auto; /* vertical scrollbar when content overflows */
    text-align: left;
}

